<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Conlabz_GenticDesign>
            <version>0.0.1</version>
        </Conlabz_GenticDesign>        
    </modules>
    <global>
        <blocks>
            <genticdesign>
                <class>Conlabz_GenticDesign_Block</class>
            </genticdesign>
        </blocks>
        <models>
            <genticdesign>
                <class>Conlabz_GenticDesign_Model</class>
            </genticdesign>
        </models>
        <helpers>
            <genticdesign>
                <class>Conlabz_GenticDesign_Helper</class>
            </genticdesign>
        </helpers>
        <rewrite>
            <blog>
                <from><![CDATA[#^(en|de)/news($|/)#]]></from>
                <to><![CDATA[/$1/wordpress/index/index]]></to>
                <complete>1</complete>
            </blog>
        </rewrite>
        <page_arrows>
            <registry_objects>
                <current_product/>
                <current_category/>
                <wordpress_post/>
                <wordpress_post_type/>                
            </registry_objects>
        </page_arrows>
    </global>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
				<observers>
					<inject_topmenu_links>
						<type>singleton</type>
						<class>genticdesign/observer</class>
						<method>injectTopmenuLinks</method>
                    </inject_topmenu_links>
				</observers>
			</page_block_html_topmenu_gethtml_before>
            <controller_action_layout_load_before>
                <observers>
                    <add_homepage_handle>
                        <class>genticdesign/observer</class>
                        <method>addHomePageLayoutHandle</method>
                    </add_homepage_handle>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_layout_render_before>
                <observers>
                    <add_post_type_body_class>
                        <class>genticdesign/observer</class>
                        <method>addPostTypeBodyClass</method>
                    </add_post_type_body_class>
                    <set_custom_page_template>
                        <class>genticdesign/observer</class>
                        <method>setCustomPageTemplate</method>
                    </set_custom_page_template>
                    <populate_page_arrows>
                        <class>genticdesign/observer</class>
                        <method>populatePageArrows</method>
                    </populate_page_arrows>
                </observers>
            </controller_action_layout_render_before>
            <catalog_product_collection_load_before>
                <observers>
                    <filter_lineplan_collection>
                        <class>genticdesign/observer</class>
                        <type>singlegon</type>
                        <method>filterLineplanCollection</method>
                    </filter_lineplan_collection>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_controller_product_view>
                <observers>
                    <filter_lineplan_collection>
                        <class>genticdesign/observer</class>
                        <type>singlegon</type>
                        <method>filterLineplanProduct</method>
                    </filter_lineplan_collection>
                </observers>
            </catalog_controller_product_view>
        </events>
        <translate>
            <modules>
                <Conlabz_GenticDesign>
                    <files>
                        <default>Conlabz_GenticDesign.csv</default>
                    </files>
                </Conlabz_GenticDesign>
            </modules>
        </translate>
    </frontend>
</config>
