<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Coad_Pjax>
            <version>0.0.1</version>
        </Coad_Pjax>
    </modules>
    <global>
        <models>
            <pjax>
                <class>Coad_Pjax_Model</class>
            </pjax>
        </models>
        <blocks>
            <pjax>
                <class>Coad_Pjax_Block</class>
            </pjax>
        </blocks>
        <helpers>
            <pjax>
                <class>Coad_Pjax_Helper</class>
            </pjax>
        </helpers> 
        <!--<pjax>
            <containers>
                <content/>
            </containers>
            <headers>
                <X-PJAX/>
                <X-fancyBox/>
            </headers>
        </pjax>-->
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <pjaxcontent>
                        <class>pjax/observer</class>
                        <method>pjaxContent</method>
                        <type>singleton</type>
                    </pjaxcontent>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <wrap_pjax_container>
                        <class>pjax/observer</class>
                        <type>singleton</type>
                        <method>wrapPjaxContainer</method>
                    </wrap_pjax_container>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <pjax>
                    <file>coad/pjax.xml</file>
                </pjax>
            </updates>
        </layout>
    </frontend>
</config>
