.h1 {
    font-size: 90px;
    letter-spacing: 1px;
    line-height: 108px;
    
    @include mq-vals((
        font-size, (
            45px,
            60px,
            75px,
            90px
        ),
        line-height, (
            54px,
            75px,
            90px,
            108px
        )
    ));
}
.h2 {
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 54px;
}
.h3 {
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 1px;
}
.h6 {
    
}
