<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_ACF>
			<version>2.2.1.0</version>
			<fishpig>
				<name>Advanced Custom Fields</name>
				<id>advanced-custom-field</id>
				<url>https://fishpig.co.uk/magento/wordpress-integration/advanced-custom-fields/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_ACF>
	</modules>
	<global>
		<blocks>
			<wp_addon_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Block</class>
			</wp_addon_acf>
		</blocks>
		<helpers>
			<wp_addon_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Helper</class>
			</wp_addon_acf>
		</helpers>
		<events>
			<wordpress_post_get_meta_value>
				<observers>
					<wp_addon_acf>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ACF_Helper_Data</class>
						<method>getPostValueObserver</method>
					</wp_addon_acf>
				</observers>
			</wordpress_post_get_meta_value>
			<wordpress_page_get_meta_value>
				<observers>
					<wp_addon_acf>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ACF_Helper_Data</class>
						<method>getPostValueObserver</method>
					</wp_addon_acf>
				</observers>
			</wordpress_page_get_meta_value>
			<wordpress_term_get_meta_value>
				<observers>
					<wp_addon_acf>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ACF_Helper_Data</class>
						<method>getTermValueObserver</method>
					</wp_addon_acf>
				</observers>
			</wordpress_term_get_meta_value>
		</events>
	</global>
	<wordpress>
		<core>
			<modules>
				<wp_addon_acf />
			</modules>
		</core>
	</wordpress>
</config>