.contacts-index-index {
    .content {
        .fieldset {
            width: 66%;
            float: left;
            @media #{$mq-xs} {
                width: 100%;
            }
        }
        .form-list {
            select,
            input[type="text"],
            textarea {
                padding: 15px;
                height: auto;
                background-color: #dfdfdf;
                color: $color-gray;
                @include input-placeholder {
                    color: $color-gray;
                }
            }
            select {
                line-height: 1.3;
                background-image: url('../images/angle-down-gray.png');
            }
            label {
                display: none;
            }
            li {
                margin-bottom: 10px;
            }
            .wide {
                margin-bottom: 0;
            }
        }
        .buttons-set {
            width: 30%;
            position: absolute;
            bottom: 28px;
            right: 0;
            @media #{$mq-xs} {
                width: 100%;
                position: static;
            }
            .button {
                width: 100%;
                text-align: left;
                @include icon($icon-angle-right, 5px, after);
                &:after {
                    float: right;
                }
            }
        }
    }
}
#contactForm {
    position: relative;
    display: block;
    @extend .clearfix;
    border: solid $color-orange;
    border-width: 1px 0;
    padding: 20px 0;
}
