.download-bar {
    @extend .row;
    .filter,
    .search {
        @include col(1, 3);
    }
    .filter:first-child {
        @media (min-width: $screen-sm) {
            border-right: 1px solid $color-black;
        }
    }
    .search {        
        input, .button {
            float: left;
            height: 34px;
        }
        input {
            width: 80%;
            border: none;
        }
        .button {
            width: 20%;
        }
    }
}
.direct-download {
    &:hover {
        text-decoration: underline;
    }
}
.dl-sku,
.dl-preview {
    display: none;
    @media #{$mq-xs} {
        display: block;
    }
}
.download-list {
    @extend .no-list-style;
    margin: 10px 0;
    padding: 10px 0;
    border: solid #fff;
    border-width: 1px 0;
    .download-check {
        width: 4%;
    }
    .download-name {
        width: 29%;
    }
    .download-action {
        text-align: center;
    }
    th {
        text-align: left;
        
        &:first-child {
            width: 20px;
        }
        padding-left: 10px;
    }
    @media #{$mq-xs} {
        .download-action,
        .download-sku,
        .download-preview {
            display: none;
        }
    }
}
.btn-download {
    @include icon($icon-download, 0, before, true);
    &:hover {
        color: $color-orange;
    }
}
.download-form {
    h3 {
        margin-top: 0;
    }
}