<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_Root>
			<version>1.2.0.6</version>
		</Fishpig_Wordpress_Addon_Root>
	</modules>
	<global>
		<blocks>
			<wp_addon_root>
				<class>Fishpig_Wordpress_Addon_Root_Block</class>
			</wp_addon_root>
		</blocks>
		<helpers>
			<wp_addon_root>
				<class>Fishpig_Wordpress_Addon_Root_Helper</class>
			</wp_addon_root>
			<mana_core>
				<rewrite>
					<router>Fishpig_Wordpress_Addon_Root_Helper_MC_Router</router>
				</rewrite>
			</mana_core>
		</helpers>
		<events>
			<cms_page_render>
        <observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>cmsPageRenderObserver</method>
					</wp_addon_root>
        </observers>
			</cms_page_render>
			<controller_front_init_before>
        <observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>controllerFrontInitObserver</method>
					</wp_addon_root>
        </observers>
      </controller_front_init_before>
			<wordpress_get_blog_route>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>blogRouteGetObserver</method>
					</wp_addon_root>
				</observers>
			</wordpress_get_blog_route>
			<wordpress_get_toplink_url>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>getToplinkUrlObserver</method>
					</wp_addon_root>
				</observers>
			</wordpress_get_toplink_url>
			<wordpress_get_toplink_label>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>getToplinkLabelObserver</method>
					</wp_addon_root>
				</observers>
			</wordpress_get_toplink_label>
			<!--
			<wordpress_init_layout_after>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>initLayoutAfterObserver</method>
					</wp_addon_root>
				</observers>
			</wordpress_init_layout_after>
			-->
			<wordpress_breadcrumbs_get_after>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>wordpressBreadcrumbsGetAfterObserver</method>
					</wp_addon_root>
				</observers>				
			</wordpress_breadcrumbs_get_after>
		</events>
	</global>
	<default>
		<wordpress>
			<integration>
				<at_root>1</at_root>
				<replace_homepage>0</replace_homepage>
			</integration>
		</wordpress>
	</default>
</config>