<?xml version="1.0"?>
<config>
    <modules>
        <Conlabz_Homebase>
            <version>1.0.0</version>
        </Conlabz_Homebase>
    </modules>
    <global>
        <helpers>
            <homebase>
                <class>Conlabz_Homebase_Helper</class>
            </homebase>
        </helpers>
        <blocks>
            <homebase>
                <class>Conlabz_Homebase_Block</class>
            </homebase>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <homebase>
                    <file>homebase/layout.xml</file>
                </homebase>
            </updates>
        </layout>
        <routers>
            <homebase>
                <use>standard</use>
                <args>
                    <module>Conlabz_Homebase</module>
                    <frontName>homebase2014</frontName>
                </args>
            </homebase>
        </routers>
    </frontend>
</config>