<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Conlabz_Wordpress>
            <version>0.0.3</version>
        </Conlabz_Wordpress>
    </modules>
    <global>
        <models>
            <conwp>
                <class>Conlabz_Wordpress_Model</class>
                <resourceModel>conwp_resource</resourceModel>
            </conwp>
            <conwp_resource>
                <class>Conlabz_Wordpress_Model_Resource</class>
            </conwp_resource>
            <wordpress_resource>
                <rewrite>
                    <post>Conlabz_Wordpress_Model_Resource_Post</post>
                </rewrite>
				<entities>
					<icl_translations>
                        <table>icl_translations</table>
                    </icl_translations>
				</entities>
            </wordpress_resource>
            <catalog>
                <rewrite>
                    <category_attribute_source_mode>Conlabz_Wordpress_Model_Category_Attribute_Source_Mode</category_attribute_source_mode>
                </rewrite>
            </catalog>
            <wordpress>
                <rewrite>
                    <observer>Conlabz_Wordpress_Model_Observer</observer>
                </rewrite>
            </wordpress>
        </models>
        <resources>
			<conwp_read>
				<connection>
					<use>wordpress</use>
				</connection>
			</conwp_read>
			<conwp_write>
				<connection>
					<use>wordpress</use>
				</connection>
			</conwp_write>
            <conwp_setup>
                <setup>
                    <module>Conlabz_Wordpress</module>
                    <class>Conlabz_Wordpress_Model_Resource_Setup</class>
                </setup>
            </conwp_setup>
        </resources>
        <helpers>
            <conwp>
                <class>Conlabz_Wordpress_Helper</class>
            </conwp>
            <wordpress>
                <rewrite>
                    <filter>Conlabz_Wordpress_Helper_Filter</filter>
                </rewrite>
            </wordpress>
        </helpers>
        <blocks>
            <conwp>
                <class>Conlabz_Wordpress_Block</class>
            </conwp>
        </blocks>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_add_topmenu_items>
                        <class>conwp/category_observer</class>
                    </catalog_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <catalog>
            <category>
                <display_mode>
                    <handle_map>
                        <WP_PAGE>
                            <category_wordpress_page/>
                        </WP_PAGE>
                        <WP_LIST>
                            <wordpress_post_list/>
                            <category_wordpress_list/>
                        </WP_LIST>
                    </handle_map>
                    <model_map>
                        <WP_PAGE>conwp/category_displaymode_wppage</WP_PAGE>
                    </model_map>
                </display_mode>
            </category>
        </catalog>
    </global>
    <wordpress>
        <database>
			<before_connect>
                <tables>
                    <icl_translations>
                        <table>icl_translations</table>
                    </icl_translations>
                </tables>
                <tables_mu>
                    <icl_translations>
                        <table>icl_translations</table>
                    </icl_translations>
                </tables_mu>
            </before_connect>
        </database>
        <wpml>
            <collections_to_filter>
                <Fishpig_Wordpress_Model_Resource_Post_Collection/>
            </collections_to_filter>
        </wpml>
    </wordpress>
    <frontend>
        <events>
            <wordpress_shortcode_apply>
                <observers>
                    <post_gallery>
                        <class>Conlabz_Wordpress_Helper_Shortcode_PostGallery</class>
                        <method>onWordpressShortcodeApply</method>
                    </post_gallery>
                </observers>
            </wordpress_shortcode_apply>
            <social_media_get_meta_elements>
                <observers>
                    <wordpress>
                        <class>conwp/observer</class>
                        <method>addSocialMediaMetaData</method>
                        <type>singleton</type>
                    </wordpress>
                </observers>
            </social_media_get_meta_elements>
            <core_collection_abstract_load_before>
                <observers>
                    <join_post_collection_language>
                        <class>conwp/observer</class>
                        <method>joinPostCollectionLanguage</method>
                        <type>singleton</type>
                    </join_post_collection_language>
                </observers>
            </core_collection_abstract_load_before>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <add_category_attributes>
                        <type>singleton</type>
                        <class>conwp/observer</class>
                        <method>addCategoryAttributes</method>
                    </add_category_attributes>
                </observers>
            </catalog_category_flat_loadnodes_before>
            <catalog_controller_category_init_after>
                <observers>
                    <check_display_mode>
                        <class>conwp/observer</class>
                        <method>checkDisplayMode</method>
                        <type>singleton</type>
                    </check_display_mode>
                </observers>
            </catalog_controller_category_init_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <prepare_category_page_layout>
                        <class>conwp/observer</class>
                        <method>prepareCategoryPageLayout</method>
                        <type>singleton</type>
                    </prepare_category_page_layout>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_layout_load_before>
                <observers>
                    <prepare_category_page>
                        <class>conwp/observer</class>
                        <method>prepareCategoryPage</method>
                        <type>singleton</type>
                    </prepare_category_page>
                </observers>
            </controller_action_layout_load_before>
            <controller_front_send_response_before>
                <observers>
                    <custom_module>
                        <class>conwp/observer</class>
                        <method>wpPageRedirect</method>
                        <type>singleton</type>
                    </custom_module>
                </observers>
            </controller_front_send_response_before>
        </events>
        <routers>
            <conwp>
                <use>standard</use>
                <args>
                    <module>Conlabz_Wordpress</module>
                    <frontName>conwp</frontName>
                </args>
            </conwp>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Conlabz_Wordpress>
                    <files>
                        <default>Conlabz_Wordpress.csv</default>
                    </files>
                </Conlabz_Wordpress>
            </modules>
        </translate>
    </adminhtml>
</config>
