<?xml version="1.0"?>
<config>
    <modules>
        <Conlabz_Download>
            <version>1.0.6</version>
        </Conlabz_Download>
    </modules>
    <global>
        <helpers>
            <dstorage>
                <class>Conlabz_Download_Helper</class>
            </dstorage>
        </helpers>
        <blocks>
            <dstorage>
                <class>Conlabz_Download_Block</class>
            </dstorage>
        </blocks>
        <models>
            <dstorage>
                <class>Conlabz_Download_Model</class>
                <resourceModel>download_resource</resourceModel>
            </dstorage>
            <download_resource>
                <class>Conlabz_Download_Model_Resource</class>
                <entities>
                    <files>
                        <table>conlabz_files_storage</table>
                    </files>
                    <queue>
                        <table>downloads_queue</table>
                    </queue>
                    <queue_files>
                        <table>downloads_queue_files</table>
                    </queue_files>
                </entities>
            </download_resource>
        </models>
        <resources>
            <download_setup>
                <setup>
                    <module>Conlabz_Download</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </download_setup>
            <download_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </download_write>
            <download_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </download_read>
        </resources>
        <download>
            <thumbnails>
                <glob_path>/var/www/nama/data/export/*/{flyer,user_manual}/*.pdf</glob_path>
            </thumbnails>
        </download>
        <events>
            <category_attribute_source_mode>
                <observers>
                    <add_category_download_type>
                        <class>dstorage/observer</class>
                        <type>singleton</type>
                        <method>addCategoryDownloadType</method>
                    </add_category_download_type>
                </observers>
            </category_attribute_source_mode>
        </events>
        <catalog>
            <category>
                <display_mode>
                    <handle_map>
                        <DOWNLOAD>
                            <download_index_index/>
                        </DOWNLOAD>
                    </handle_map>
                </display_mode>
            </category>
        </catalog>
        <template>
            <email>
                <download_package module="dstorage">
                    <label>Download Package</label>
                    <file>download_package.html</file>
                    <type>text</type>
                </download_package>
            </email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <Conlabz_Download>
                    <files>
                        <default>Conlabz_Download.csv</default>
                    </files>
                </Conlabz_Download>
            </modules>
        </translate>
        <layout>
            <updates>
                <download>
                    <file>download.xml</file>
                </download>
            </updates>
        </layout>
        <routers>
            <download>
                <use>standard</use>
                <args>
                    <module>Conlabz_Download</module>
                    <frontName>download</frontName>
                </args>
            </download>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <process_download_queue>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>dstorage/queue::process</model>
                </run>
            </process_download_queue>
            <cleanup_download_packages>
                <schedule>
                    <cron_expr>13 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dstorage/observer::cleanupPackages</model>
                </run>
            </cleanup_download_packages>
        </jobs>
    </crontab>
</config>
