<?xml version="1.0" ?>
<config>
    <modules>
        <Conlabz_Eshop>
            <version>1.0.0</version>
        </Conlabz_Eshop>
    </modules>
    <global>
        <helpers>
            <eshop>
                <class>Conlabz_Eshop_Helper</class>
            </eshop>
        </helpers>
        <models>
            <eshop>
                <class>Conlabz_Eshop_Model</class>
                <resourceModel>eshop_mysql4</resourceModel>
            </eshop>
            <eshop_mysql4>
                <class>Conlabz_Eshop_Model_Mysql4</class>
                <entities>
                    <ecart>
                        <table>arendicom_cart</table>
                    </ecart>
                </entities>
            </eshop_mysql4>
        </models>
        <resources>
            <eshop_setup>
                <setup>
                    <module>Conlabz_Eshop</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eshop_setup>
            <eshop_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eshop_write>
            <eshop_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eshop_read>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <eshop_controller_front_init_before>
                        <type>singleton</type>
                        <class>eshop/observer</class>
                        <method>checkCart</method>
                    </eshop_controller_front_init_before>
                </observers>
            </controller_action_predispatch>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <divisions />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Conlabz_Eshop.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <routers>
            <eshop>
                <use>standard</use>
                <args>
                    <module>Conlabz_Eshop</module>
                    <frontName>eshop</frontName>
                </args>
            </eshop>
            <e>
                <use>standard</use>
                <args>
                    <module>Conlabz_Eshop</module>
                    <frontName>e</frontName>
                </args>
            </e>
            <checkout>
                <args>
                    <modules>
                        <Conlabz_Eshop before="Mage_Checkout">Conlabz_Eshop</Conlabz_Eshop>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Conlabz_Eshop.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <eshop>
            <keys>
                <redirect_url>https://www.e-shop-direct.com/eshop/skylotec-sports/</redirect_url>
            </keys>
        </eshop>
    </default>
</config>