<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_PluginShortcodeWidget>
			<version>2.2.1.3</version>
		</Fishpig_Wordpress_Addon_PluginShortcodeWidget>
	</modules>
	<global>
		<blocks>
			<wp_addon_pluginshortcodewidget>
				<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Block</class>			
			</wp_addon_pluginshortcodewidget>
		</blocks>
		<helpers>
			<wp_addon_pluginshortcodewidget>
				<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Helper</class>			
			</wp_addon_pluginshortcodewidget>
		</helpers>
		<models>
			<wp_addon_pluginshortcodewidget>
				<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model</class>
			</wp_addon_pluginshortcodewidget>
		</models>
		<events>
			<wordpress_router_set_route_path>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressRouterSetRoutePathObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_router_set_route_path>
			<wordpress_match_routes_before_again>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressMatchRoutesBeforeAgainObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_match_routes_before_again>
		</events>
	</global>
	<frontend>
		<events>
			<wordpress_string_filter_before>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>applyStringFiltersObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_string_filter_before>
			<wordpress_sidebar_widget>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressSidebarWidgetObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_sidebar_widget>
			<wordpress_post_setasglobal_before>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressPostSetasglobalBeforeObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_post_setasglobal_before>
			<wordpress_get_post_content>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressGetPostContentObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_get_post_content>
			<!--
			<wordpress_post_view_to_html>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressPostViewToHtmlObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>				
			</wordpress_post_view_to_html>
			-->
		</events>
		<routers>
			<wp_addon_pluginshortcodewidget>
				<use>wordpress_addon</use>
				<args>
					<module>Fishpig_Wordpress_Addon_PluginShortcodeWidget</module>
					<frontName>wp_addon_pluginshortcodewidget</frontName>
				</args>
			</wp_addon_pluginshortcodewidget>
		</routers>
	</frontend>
	<wordpress>
		<core>
			<modules>
				<wp_addon_pluginshortcodewidget />
			</modules>
			<globals>
				<pagelist_unq_settings/>
				<revSliderVersion />
				<rs_double_jquery_script/>
				<rs_wmpl/>
				<rs_slider_serial/>
			</globals>
		</core>
	</wordpress>
</config>