<?xml version="1.0"?>
<config>
    <sections>
        <contacts translate="label" module="contacts">
            <groups>
                <email translate="label">
                    <fields>
                        <to_name>
                            <label>To Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </to_name>
                        <recipient_email_cc translate="label">
                            <label>Send Copies To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </recipient_email_cc>
                    </fields>
                </email>
            </groups>
        </contacts>
    </sections>
</config>
