.color-blue {
    color: $color-blue;
}
.color-pink {
    color: $color-pink;
}
.color-green {
    color: $color-green;
}
.color-red {
    color: $color-red;
}
.color-orange {
    color: $color-orange;
}
.color-yellow {
    color: $color-yellow; 
}
.color-white {
    color: #fff;
}

.bg-blue {
    background-color: $color-blue;
}
.bg-pink {
    background-color: $color-pink;
}
.bg-green {
    background-color: $color-green;
}
.bg-red {
    background-color: $color-red;
}
.bg-orange {
    background-color: $color-orange;
}
.bg-yellow {
    background-color: $color-yellow;
}
.bg-black {
    background-color: #000;
}