<?xml version="1.0"?>
<config>
    <modules>
        <Conlabz_Skylotec>
            <version>1.1.1</version>
        </Conlabz_Skylotec>
    </modules>
    <global>
        <helpers>
            <skylotec>
                <class>Conlabz_Skylotec_Helper</class>
            </skylotec>
        </helpers>
        <blocks>
            <skylotec>
                <class>Conlabz_Skylotec_Block</class>
            </skylotec>
            <catalog>
                <rewrite>
                    <product_view>Conlabz_Skylotec_Block_Rewrite_Product_View</product_view>
                    <category_view>Conlabz_Skylotec_Block_Rewrite_Category_View</category_view>
                    <product_view_type_configurable>Conlabz_Skylotec_Block_Rewrite_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <product_image>Conlabz_Skylotec_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <category_flat>Conlabz_Skylotec_Model_Resource_Category_Flat</category_flat>
                    <product_attribute_backend_media>Conlabz_Skylotec_Model_Resource_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog_resource>
            <skylotec>
                <class>Conlabz_Skylotec_Model</class>
                <resourceModel>skylotec_resource</resourceModel>
            </skylotec>
            <skylotec_resource>
                <class>Conlabz_Skylotec_Model_Resource</class>
            </skylotec_resource>
        </models>
        <resources>
            <skylotec_setup>
                <setup>
                    <module>Conlabz_Skylotec</module>
                    <class>Conlabz_Skylotec_Model_Resource_Setup</class>
                </setup>
            </skylotec_setup>
        </resources>
        <events>
            <catalog_product_is_salable_after>
                <observers>
                    <skylotec_is_salable>
                        <type>singleton</type>
                        <class>skylotec/observer</class>
                        <method>isProductSalable</method>
                    </skylotec_is_salable>
                </observers>
            </catalog_product_is_salable_after>
            <controller_front_init_routers>
                <observers>
                    <skylotec>
                        <type>singleton</type>
                        <class>Conlabz_Skylotec_Controller_Router</class>
                        <method>initRouter</method>
                    </skylotec>
                </observers>
            </controller_front_init_routers>
            <category_attribute_source_mode>
                <observers>
                    <add_category_skylopedia_type>
                        <class>skylotec/observer</class>
                        <type>singleton</type>
                        <method>addCategorySkylopediaType</method>
                    </add_category_skylopedia_type>
                </observers>
            </category_attribute_source_mode>
            <custom_quote_process>
                <observers>
                    <initial_cart_items>
                        <type>singleton</type>
                        <class>skylotec/observer</class>
                        <method>insertInitialCartItems</method>
                    </initial_cart_items>
                </observers>
            </custom_quote_process>
        </events>
        <skylotec>
            <base_category_ids>
                <industry>235</industry>
                <sport>208</sport>
                <permanent-systems>250</permanent-systems>
            </base_category_ids>
            <output_helpers>
                <description />
                <components/>
                <material/>
                <hidden/>
            </output_helpers>
            <buy_attributes>
                <sku/>
            </buy_attributes>
            <branche_icons>
                <accessories_for_all_applications></accessories_for_all_applications>
                <lift_construction>aufzugsbau</lift_construction>
                <construction>bau</construction>
                <arborists>baumarbeiten</arborists>
                <mining>bergbau</mining>
                <roofer_carpenter></roofer_carpenter>
                <power_supplies></power_supplies>
                <power_transmission>leitungsbau</power_transmission>
                <facade_window_cleaning></facade_window_cleaning>
                <flat_roof></flat_roof>
                <scaffolding>geruestbau</scaffolding>
                <high_rack></high_rack>
                <elevating_mobile_work_platforms>hubarbeitsbuehnen</elevating_mobile_work_platforms>
                <confined_space_waste_water>kanalarbeiten</confined_space_waste_water>
                <anti_corrosion_coating></anti_corrosion_coating>
                <telecommunication>telekommunikation</telecommunication>
                <offshore>offshore-industrie</offshore>
                <permanent_fall_arrest_systems>permanent-anchor-points</permanent_fall_arrest_systems>
                <police_military_special_forces>specialforces</police_military_special_forces>
                <rescue>hoehenrettung</rescue>
                <rope_courses>hochseilgarten</rope_courses>
                <rope_access_rigging>arbeitsunterstuetzung</rope_access_rigging>
                <metal_construction>stahlbau</metal_construction>
                <wind_power>windkraftanlagen</wind_power>
                <bos>specialforces</bos>
            </branche_icons>
        </skylotec>
        <catalog>
            <product>
                <type>
                    <configurable>
                        <price_model>skylotec/product_type_configurable_price</price_model>
                    </configurable>
                </type>
            </product>
            <category>
                <display_mode>
                    <handle_map>
                        <SKYLOPEDIA>
                            <category_skylopedia/>
                        </SKYLOPEDIA>
                    </handle_map>
                    <model_map>
                        <SKYLOPEDIA>skylotec/category_displaymode_skylopedia</SKYLOPEDIA>
                    </model_map>
                </display_mode>
            </category>
        </catalog>
    </global>
    <frontend>
        <product>
            <configurable>
                <child>
                    <attributes>
                        <nicht_bestellbar/>
                    </attributes>
                </child>
            </configurable>
        </product>
        <category>
            <collection>
                <attributes>
                    <icon/>
                    <is_branche/>
                </attributes>
            </collection>
        </category>
        <layout>
            <updates>
                <skylopedia>
                    <file>skylopedia.xml</file>
                </skylopedia>
                <news>
                    <file>news.xml</file>
                </news>
                <cms_wp>
                    <file>cms_wp.xml</file>
                </cms_wp>
            </updates>
        </layout>
        <translate>
            <modules>
                <Symmetrics_StockIndicator>
                    <files>
                        <conlabz>Conlabz_Skylotec.csv</conlabz>
                    </files>
                </Symmetrics_StockIndicator>
                <Conlabz_Skylotec>
                    <files>
                        <default>Conlabz_Skylotec.csv</default>
                    </files>
                </Conlabz_Skylotec>
            </modules>
        </translate>
        <routers>
            <skylotec>
                <use>standard</use>
                <args>
                    <module>Conlabz_Skylotec</module>
                    <frontName>sky</frontName>
                </args>
            </skylotec>
        </routers>
        <events>
            <m_before_load_filter_collection>
                <observers>
                    <filter_category_filters>
                        <class>skylotec/observer</class>
                        <method>filterCategoryFilters</method>
                        <type>singleton</type>
                    </filter_category_filters>
                </observers>
            </m_before_load_filter_collection>
            <catalog_controller_category_init_after>
                <observers>
                    <add_category_division_to_request>
                        <class>skylotec/observer</class>
                        <method>addCategoryDivisionToRequest</method>
                        <type>singleton</type>
                    </add_category_division_to_request>
                </observers>
            </catalog_controller_category_init_after>
            <skylotec_block_subnavigation_getitems>
                <observers>
                    <add_subcategories>
                        <class>skylotec/observer_subnavigation_category</class>
                        <method>addSubcategories</method>
                        <type>singleton</type>
                    </add_subcategories>
                </observers>
            </skylotec_block_subnavigation_getitems>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <add_attributes>
                        <class>skylotec/observer</class>
                        <method>addCategoryAttributes</method>
                    </add_attributes>
                    <category_order>
                        <class>skylotec/observer</class>
                        <method>categoryOrder</method>
                    </category_order>
                </observers>
            </catalog_category_flat_loadnodes_before>
            <catalog_helper_output_construct>
                <observers>
                    <add_output_helper_aggregate>
                        <class>skylotec/observer</class>
                        <method>addOutputHelperAggregate</method>
                    </add_output_helper_aggregate>
                </observers>
            </catalog_helper_output_construct>
            <controller_action_predispatch_support_index_post>
                <observers>
                    <verify_user_response>
                        <type>singleton</type>
                        <class>recaptcha/observer</class>
                        <method>verifyUserResponse</method>
                    </verify_user_response>
                </observers>
            </controller_action_predispatch_support_index_post>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <skylotec_editor>
                    <file>conlabz/editor.xml</file>
                </skylotec_editor>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <web>
            <routers>
                <skylotec>
                    <area>frontend</area>
                    <class>Conlabz_Skylotec_Controller_Router</class>
                </skylotec>
            </routers>
        </web>
        <wordpress>
            <integration>
                <stylesheets>/wp/wp-includes/css/dist/block-library/style.min.css?v1</stylesheets>
            </integration>
        </wordpress>
    </default>
</config>
