<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_CPT>
			<version>2.2.1.0</version>
			<fishpig>
				<id>posttypes-taxonomies</id>
				<name>Post Types and Taxonomies</name>
				<url>https://fishpig.co.uk/magento/wordpress-integration/post-types-taxonomies/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_CPT>
	</modules>
	<global>
		<blocks>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Block</class>
			</wp_addon_cpt>
		</blocks>
		<helpers>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Helper</class>
			</wp_addon_cpt>
		</helpers>
		<models>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Model</class>
			</wp_addon_cpt>
		</models>
		<events>
			<wordpress_app_init_post_types>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>wp_addon_cpt/observer</class>
						<method>initPostTypesObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_app_init_post_types>
			<wordpress_app_init_taxonomies>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CPT_Model_Observer</class>
						<method>initTaxonomiesObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_app_init_taxonomies>
			<wordpress_match_routes_before>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CPT_Model_Observer</class>
						<method>matchRoutesObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_match_routes_before>
			<wordpress_addon_integratedsearch_get_tabs>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>wp_addon_cpt/observer</class>
						<method>addPostsToIntegratedSearchObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_addon_integratedsearch_get_tabs>
		</events>
	</global>
	<frontend>
		<routers>
			<wp_addon_cpt>
				<use>wordpress_addon</use>
				<args>
					<module>Fishpig_Wordpress_Addon_CPT</module>
					<frontName>wp_addon_cpt</frontName>
				</args>
			</wp_addon_cpt>
		</routers>
		<layout>
			<updates>
				<wp_addon_cpt>
					<file>wordpress/cpt.xml</file>
				</wp_addon_cpt>
			</updates>
		</layout>
	</frontend>
	<wordpress>
		<core>
			<modules>
				<wp_addon_cpt/>
			</modules>
		</core>
	</wordpress>
</config>
