<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Conlabz_Recaptcha>
            <version>0.0.1</version>
        </Conlabz_Recaptcha>
    </modules>
    <global>
        <blocks>
            <recaptcha>
                <class>Conlabz_Recaptcha_Block</class>
            </recaptcha>            
        </blocks>
        <helpers>
            <recaptcha>
                <class>Conlabz_Recaptcha_Helper</class>
            </recaptcha>
        </helpers>
        <models>
            <recaptcha>
                <class>Conlabz_Recaptcha_Model</class>
            </recaptcha>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <recaptcha>
                    <file>conlabz/recaptcha.xml</file>
                </recaptcha>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <inject_recaptcha>
                        <type>singleton</type>
                        <class>recaptcha/observer</class>
                        <method>injectRecaptcha</method>
                    </inject_recaptcha>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_predispatch_review_product_post>
                <observers>
                    <verify_user_response>
                        <type>singleton</type>
                        <class>recaptcha/observer</class>
                        <method>verifyUserResponse</method>
                    </verify_user_response>
                </observers>
            </controller_action_predispatch_review_product_post>
        </events> 
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <recaptcha>
                                            <title>ReCaptcha</title>
                                        </recaptcha>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Conlabz_Recaptcha>
                    <files>
                        <default>Conlabz_Recaptcha.csv</default>
                    </files>
                </Conlabz_Recaptcha>
            </modules>
        </translate>
    </adminhtml>
</config>
