<?xml version="1.0"?>
<config>
    <modules>
        <Conlabz_Regions>
            <version>1.0.0</version>
        </Conlabz_Regions>
    </modules>
    <global>
        <helpers>
            <regions>
                <class>Conlabz_Regions_Helper</class>
            </regions>
        </helpers>
        <blocks>
            <regions>
                <class>Conlabz_Regions_Block</class>
            </regions>
        </blocks>
        <models>
            <regions>
                <class>Conlabz_Regions_Model</class>
            </regions>
        </models>
        <languages>
            <de>
                <AT>eu_de</AT>
                <DE>eu_de</DE>
                <LI>eu_de</LI>
                <CH>ch_de</CH>
                <default>eu_de</default>
            </de>
            <en>
                <GB>uk_en</GB>
                <US>nam_en</US>
                <AU>aus_en</AU>
                <BZ>nam_en</BZ>
                <CA>nam_en</CA>
                <IE>eu_en</IE>
                <JM>nam_en</JM>
                <NZ>aus_en</NZ>
                <default>eu_en</default>
            </en>
            <fr>
                <BE>eu_fr</BE>
                <CA>nam_fr</CA>
                <FR>eu_fr</FR>
                <LU>eu_fr</LU>
                <MC>eu_fr</MC>
                <CH>ch_fr</CH>
                <default>eu_fr</default>
            </fr>
            <es>
                <AR>sam_es</AR>
                <BO>sam_es</BO>
                <CL>sam_es</CL>
                <CO>sam_es</CO>
                <CR>nam_es</CR>
                <DO>nam_es</DO>
                <EC>sam_es</EC>
                <SV>nam_es</SV>
                <GT>nam_es</GT>
                <HN>nam_es</HN>
                <MX>nam_es</MX>
                <NI>nam_es</NI>
                <PA>nam_es</PA>
                <PY>sam_es</PY>
                <PE>sam_es</PE>
                <PR>nam_es</PR>
                <ES>eu_es</ES>
                <UY>sam_es</UY>
                <VE>sam_es</VE>
                <default>eu_es</default>
            </es>
            <it>
                <CH>ch_it</CH>
                <default>eu_it</default>
            </it>

            <default>eu_en</default>
        </languages>
    </global>
    <frontend>
        <layout>
            <updates>
                <conlabz_regions>
                    <file>regions.xml</file>
                </conlabz_regions>
            </updates>
        </layout>
        <routers>
            <regions>
                <use>standard</use>
                <args>
                    <module>Conlabz_Regions</module>
                    <frontName>regions</frontName>
                </args>
            </regions>
        </routers>
        <events>
            <core_collection_abstract_load_before>
                <observers>
                    <filter_post_collection_regions>
                        <class>regions/observer</class>
                        <type>singleton</type>
                        <method>filterPostCollectionRegions</method>
                    </filter_post_collection_regions>
                </observers>
            </core_collection_abstract_load_before>
            <wordpress_post_view_init_after>
                <observers>
                    <check_object_access_for_region>
                        <class>regions/observer</class>
                        <type>singleton</type>
                        <method>checkObjectAccessForRegion</method>
                    </check_object_access_for_region>
                </observers>
            </wordpress_post_view_init_after>
            <wordpress_page_view_init_after>
                <observers>
                    <check_object_access_for_region>
                        <class>regions/observer</class>
                        <type>singleton</type>
                        <method>checkObjectAccessForRegion</method>
                    </check_object_access_for_region>
                </observers>
            </wordpress_page_view_init_after>
        </events>
    </frontend>
</config>
