<?xml version="1.0"?>
<config>
    <modules>
        <Conlabz_PdfPrints>
            <version>1.0.0</version>
        </Conlabz_PdfPrints>
    </modules>
    <global>
        <helpers>
            <pdfprints>
                <class>Conlabz_PdfPrints_Helper</class>
            </pdfprints>
        </helpers>
        <blocks>
            <pdfprints>
                <class>Conlabz_PdfPrints_Block</class>
            </pdfprints>
        </blocks>
        <models>
            <pdfprints>
                <class>Conlabz_PdfPrints_Model</class>
                <resourceModel>pdfprints_mysql4</resourceModel>
	    </pdfprints>
            <pdfprints_mysql4>
                <class>Conlabz_PdfPrints_Model_Mysql4</class>
            </pdfprints_mysql4>
        </models>
        <resources>
            <pdfprints_setup>
                <setup>
                    <module>Conlabz_PdfPrints</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdfprints_setup>
            <pdfprints_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdfprints_write>
            <pdfprints_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdfprints_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <pdfprints>
                    <file>pdfprints/layout.xml</file>
                </pdfprints>
            </updates>
        </layout>
        <routers>
            <pdfprints>
                <use>standard</use>
                <args>
                    <module>Conlabz_PdfPrints</module>
                    <frontName>pdfprint</frontName>
                </args>
            </pdfprints>
        </routers>
    </frontend>
</config>